.header-css {
    width: 1903px;
    top: -984px;
    left: 0;
    position: relative;
    z-index: 2;
    height: 70px;
    background: black;
    padding:0;
}
#navUl{
    list-style: none;
    text-align: center;
    position: relative;
    left: -772px;
    top: 18px;
    padding:0;
}
.navLi{
    display: inline;
    margin :30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Lobster', cursive;
    color: white;
    padding:0;
}
.container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../image/home_wall.jpg");
    background-size: cover;
    background-position: center;
    padding: 0.8%;
    position: relative;
    top: 16px;
}

.all-sec{
    height: 100vh;
    position: relative;
    padding:0;
}
#home-sec{
    background-color: #080808;
}
#gallery-sec{
    background-color:#F2EFEF;;
    padding:0;
    margin: 0;
}
#contact-sec {
    background-color: #F2EFEF;
}
#img{
    height: 100vh;
}
.title{
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3em;
    left: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 50px;
}






.chatBox{
    width: 623px;
    height: 688px;
    background: #565656;
    position: absolute;
    justify-content: center;
    left: 97px;
    border-radius: 40px;
    opacity: 10%;
    top: 156px;
}
#set-chat-box{
    position: relative;
    left: 152px;
    top: 110px;
    width: 952px;
}
.lbl {
    left: 35px;
    color: black;
    margin-top: 31px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}
.inp {
    width: 474px;
    height: 59px;
    font-size: 26px;
    background: white;
    border-radius: 20px;
    border: 4px solid black;
}
#contactBtnDiv {
    position: relative;
   /* margin: auto;*/
    left: -252px;
    width: 161px;
    top: -50px;
}
#contactBtn {
    width: 128px;
    height: 38px;
    background-color: white;
    box-shadow: -1px 2px 16px #1d33ab;
    border-radius: 15px;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    color: black;
    border: 0;
    font-family: 'Saira Condensed', sans-serif;
    left: -437px;
    top: 59px;
}
#contactBtn:hover {
    color: #0b5ed7;
    cursor: pointer;
}
#cal-chat{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    top: -413px;
}
#call-now{
    position: relative;
    width: 200px;
    height: 350px;
    background: white;
    border-radius: 20px;
    left: 500px;
    border: 10px solid black;
}
#chat-now{
    position: relative;
    width: 200px;
    height: 350px;
    background: white;
    border-radius: 20px;
    border: 10px solid black;
    left: 202px;
}