.header-css {
    width: 1903px;
    top: -984px;
    left: 0;
    position: relative;
    z-index: 2;
    height: 70px;
    background: black;
    padding:0;
}
#navUl{
    list-style: none;
    text-align: center;
    position: relative;
    left: -772px;
    top: 18px;
    padding:0;
    list-style: none;
}

html{
    scroll-behavior: smooth; /*smoothly navigate page to page */
}

.navLi{
    display: inline;
    margin :30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Lobster', cursive;
    color: white;
    padding:0;
    list-style: none;
}

header > nav > ul >a{
    color: white;
    text-decoration: none;

}
section>header > nav > ul > a>li:link{
    color: white;

}

section>header > nav > ul > a>li:visited{
    color: white;
}
section>header > nav > ul > a>li:hover{
    color: yellow;
}

.container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../image/home_wall.jpg");
    background-size: cover;
    background-position: center;
    padding: 0.8%;
    position: relative;
    top: 16px;
}

#title_main{
    position: absolute;
    left: 90px;
    font-size: 82px;
    top: 218px;
    color: white;
    font-family: Calibri;
}

#description{
    position: absolute;
    left: -33px;
    top: 475px;
    color: white;
    font-size: 30px;
    font-family: Bahnschrift SemiBold;
}


.all-sec{
    height: 100vh;
    position: relative;
    padding:0;
}
#home-sec{
    background-color: #080808;
}
#gallery-sec{
    background-color:#F2EFEF;;
    padding:0;
    margin: 0;
}
#contact-sec {
    background-color: #F2EFEF;
}
#img{
    height: 100vh;
}
.title{
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3em;
    left: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 50px;
}

.box{
    width: 1654px;
    height: 664px;
    background: #565656;
    position: absolute;
    justify-content: center;
    left: 103px;
    border-radius: 40px;
    opacity: 10%;
    top: 110px;
}
.viewBox{
    position: relative;
    display: flex;
    width: 1220px;
    height: 400px;
    justify-content: space-between;
    left: -53px;
    right: 400px;
    margin: auto;
    top: 187px;
}
.viewBox :hover{
    transform: scale(1.2)
}
.project_img{
    position: relative;
    height: 319px;
    border-radius: 15px;
    width: 396px;
}




.chatBox{
    width: 623px;
    height: 688px;
    background: #565656;
    position: absolute;
    justify-content: center;
    left: 97px;
    border-radius: 40px;
    opacity: 10%;
    top: 156px;
}
#set-chat-box{
    position: relative;
    left: 152px;
    top: 110px;
    width: 952px;
}
.lbl {
    position: relative;
    top: -310px;
    left: 35px;
    color: black;
    margin-top: 31px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}
.inp {
    position: relative;
    top: -305px;
    width: 474px;
    height: 59px;
    font-size: 26px;
    background: white;
    border-radius: 20px;
    border: 4px solid black;
}
#contactBtnDiv {
    position: relative;
    margin: auto;
    left: -252px;
    width: 161px;
    top: -50px;
}
#contactBtn {
    width: 128px;
    height: 38px;
    background-color: white;
   box-shadow: -1px 2px 16px #1d33ab;
     border-radius: 15px;
      position: relative;
    font-weight: bold;
    font-size: 17px;
    color: black;
     font-family: 'Saira Condensed', sans-serif;
    left: 24px;
    top: -231px;
}
#contactBtn:hover {
    color: #0b5ed7;
    cursor: pointer;
}
#cal-chat{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 231px;
}
#call-now{
    position: relative;
    width: 200px;
    height: 350px;
    background: white;
    border-radius: 20px;
    left: 500px;
    border: 10px solid black;
}
#chat-now{
    position: relative;
    width: 200px;
    height: 350px;
    background: white;
    border-radius: 20px;
    border: 10px solid black;
    left: 202px;
}
#img_cl{
    width: 183px;
    height: 296px;
    left: 10px;
    position: relative;
    top: 25px;
    border-radius: 10px;
}
#img_mail{
    width: 183px;
    height: 296px;
    left: 10px;
    position: relative;
    top: 25px;
    border-radius: 10px;
}